.bottom-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--background-500);
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  box-shadow: 0 0 0 0.5px var(--neutral-500);
}

.nav-item {
  color: var(--text-400);
  text-decoration: none;
}

.nav-item .material-symbols-rounded {
  font-size: 30px;
}

.nav-item.active .material-symbols-rounded {
  color: var(--blue-700);
  font-variation-settings: "FILL" 1;
}
