.event-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 0;
  font-family: var(--font-body);
}

.event-item-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.event-item-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-item-icon .material-symbols-rounded {
  font-variation-settings: "FILL" 1;
  font-size: 24px;
}

.event-item-text {
  display: flex;
  flex-direction: column;
}

.event-item-title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-900);
}

.event-item-subtitle {
  margin: 0;
  font-size: 14px;
  color: var(--neutral-700);
}

.event-item-date {
  font-size: 14px;
  color: var(--neutral-700);
  white-space: nowrap;
}
