@import "../variables.css";
@import "../typography.css";

.selection-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid transparent;
  border-radius: var(--radius-m);
  padding: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 5px;
}

.selection-option.selected {
  border-color: var(--blue-700);
  background-color: var(--blue-light-100);
}

.selection-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.selection-icon {
  font-size: 26px;
  color: var(--text-400);
  line-height: 1;
  display: flex;
  align-items: center;
}

.selection-label {
  color: var(--text-400);
  line-height: 1;
  display: flex;
  align-items: center;
}

.selection-option.selected .selection-label {
  color: var(--blue-700);
}

.selection-option.selected .selection-icon {
  color: var(--blue-700);
  font-variation-settings: "FILL" 1;
}
