.smart-insight-card {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  border-radius: var(--radius-m);
  padding: 15px;
  box-shadow: 0 0 0 1px var(--info-600);
  background-color: var(--info-50);
  margin-bottom: 2%;
}

.smart-insight-card .insight-icon {
  background-color: var(--info-100);
  border-radius: var(--radius-xl);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--info-700);
}

.smart-insight-card .material-symbols-rounded {
  font-variation-settings: "FILL" 1;
  font-size: 20px;
}

.smart-insight-card .insight-content {
  flex: 1;
}

.smart-insight-card .insight-title {
  margin: 0;
  margin-bottom: 4px;
  color: var(--info-800);
}

.smart-insight-card .insight-description {
  margin: 0;
  color: var(--text-500);
}

.smart-insight-card.warning {
  background-color: var(--warning-50);
  box-shadow: 0 0 0 1px var(--warning-600);
}

.smart-insight-card.warning .insight-icon {
  background-color: var(--warning-100);
  color: var(--warning-600);
}

.smart-insight-card.warning .insight-title {
  color: var(--warning-700);
}

.smart-insight-card.success {
  background-color: var(--success-50);
  box-shadow: 0 0 0 1px var(--success-600);
}

.smart-insight-card.success .insight-icon {
  background-color: var(--success-100);
  color: var(--success-600);
}

.smart-insight-card.success .insight-title {
  color: var(--success-700);
}

.smart-insight-card.error {
  background-color: var(--error-50);
  box-shadow: 0 0 0 1px var(--error-600);
}

.smart-insight-card.error .insight-icon {
  background-color: var(--error-100);
  color: var(--error-600);
}

.smart-insight-card.error .insight-title {
  color: var(--error-700);
}
