.user-row {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; 
  animation: fadeInUp 0.3s ease;
}

.user-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-message {
  max-width: 75%;
  background: var(--blue-700);
  color: var(--text-50);
  padding: 12px;
  border-radius: var(--radius-s);
  transition: transform 0.2s ease;
}

.user-message:hover {
  transform: scale(1.02);
}

.user-avatar {
  margin-left: 8px;
}

.user-avatar img {
  width: 40px;
  height: 40px;
  object-fit: fill;
}

.message-text {
  word-wrap: break-word;
}

.user-message-time {
  color: var(--text-400);
  text-align: right;
  white-space: nowrap;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
