.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #1e293b; /* dark slate */
  color: white;
  display: flex;
  flex-direction: column;
}

.logoArea {
  display: flex;
  justify-content: center;  
  align-items: center;    
  height: 70px;           
  margin-bottom: 40px;
}


.logo {
  height: 50px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.navLink {
  color: #cbd5e1;
  text-decoration: none;
  font-weight: 500;
  padding: 10px;
  border-radius: 6px;
  transition: background 0.2s;
}

.navLink:hover {
  background-color: #334155;
}

.active {
  background-color: #3b82f6;
  color: white;
}
