@import "../typography.css";
@import "../variables.css";

.passwordLink-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.backIcon-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 20%;
}

.chevronB_icon {
  color: var(--text-600);
  cursor: pointer;
}

.material-symbols-rounded.chevronB_icon {
  font-size: 40px;
}

.passwordLink-image {
  height: 250px;
  margin-bottom: 5%;
}

.passwordLink-title {
  color: var(--text-500);
  margin-bottom: -1%;
}

.passwordLink-subtitle {
  color: var(--text-400);
  margin-bottom: 10%;
}

.passwordLink-button {
  height: 48px;
  margin-bottom: 20%;
}

.passwordLink-footer {
  color: var(--text-400);
}
