.med-list-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  outline: 1px solid var(--blue-700);
}

.med-list-header {
  padding: 16px;
  text-align: center;
  position: sticky;
  top: 0;
  background: var(--background-500);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.chevron_backward {
  font-size: 26px;
  color: var(--text-600);
  cursor: pointer;
}

.search {
  font-size: 26px;
  color: var(--text-600);
  cursor: pointer;
}

.med-search-input-container{
  padding: 0 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.med-search-input-container input{
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}
