/* Layout and Container */
.password-security-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Header */
.password-security-header {
  padding: 16px;
  text-align: center;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.chevron_backward {
  font-size: 26px;
  color: var(--text-600);
  cursor: pointer;
}

.search {
  font-size: 26px;
  color: var(--text-600);
  cursor: pointer;
}

/* Content */
.password-security-content {
  width: 80%;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.password-security-fields {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Button */

.update-password-button {
  padding: 8px;
}

/* Actions */
.password-security-actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 20px;
  margin-top: 15px;
}

/* Message */
.password-security-message {
  margin: 10px 0;
  color: var(--error-700);
}

/* Footer */
.password-security-footer {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}

.password-security-footer-text {
  margin: 0;
  color: var(--text-300);
}

.password-security-footer-link {
  margin-top: 5px;
  color: var(--blue-700);
  cursor: pointer;
  text-decoration: underline;
}
