.settings-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
  position: relative;
}

.settings-user-card {
  width: 80%;
  max-width: 800px; /* matches the max-width from userCard.css */
  margin: 30px auto;
}

.settings-content {
  margin: 30px auto 0 auto;
  width: 90%;
}

.settings-content {
  margin: 30px auto 0 auto;
  width: 90%;
}

.account-settings-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.privacy-settings-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.notification-settings-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.common-settings-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  border-radius: var(--radius-l);
  background-color: var(--neutral-50);
  cursor: pointer;
}

.settings-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.settings-icon {
  font-size: 22px;
  padding: 5px;
  border-radius: var(--radius-xl);
  background-color: var(--blue-50);
  color: var(--blue-700);
}

.settings-item-textwrap {
  display: flex;
  flex-direction: column;
}

.settings-item-text {
  color: var(--text-500);
}

.settings-item-subtext {
  color: var(--text-300);
  margin: 0;
}

.arrow {
  font-size: 20px;
  color: var(--text-500);
}

/* Special styles */
.help {
  background-color: var(--info-50);
}

.help .settings-icon {
  color: var(--info-700);
  background-color: transparent;
}

.logout {
  background-color: var(--error-50);
  color: var(--error-700);
}

.logout .settings-icon {
  color: var(--error-700);
  background-color: transparent;
}

/* Accordion Subitems */
.help-subtext-content {
  margin-left: 48px; /* align with text */
}

.help-link {
  color: var(--blue-700);
  text-decoration: none;
}

.help-link:hover {
  text-decoration: underline;
}

/* Toggle Switch Styles */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  cursor: pointer;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--neutral-200);
  border-radius: 24px;
  transition: 0.3s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: var(--blue-light-50);
  border-radius: 50%;
  transition: 0.3s;
}

.toggle-switch input:checked + .toggle-slider {
  background-color: var(--blue-700);
}

.toggle-switch input:checked + .toggle-slider:before {
  transform: translateX(20px);
}
