@import "../typography.css";
@import "../variables.css";

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome-image {
  width: 70%;
  height: auto;
  margin-bottom: 5%;
}

.welcome-title {
  color: var(--text-500);
  max-width: 80%;
}

.welcome-subtitle {
  color: var(--text-400);
  margin-bottom: 5%;
}

.welcome-button {
  max-width: 80%;
  margin-bottom: 5%;
  height: 48px;
}

.welcome-footer {
  color: var(--text-400);
  max-width: 80%;
}

.login-link {
  text-decoration: underline;
  color: var(--blue-700);
  max-width: 80%;
}

.language-switch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

@media (min-width: 600px) {
  .welcome-image {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .welcome-image {
    width: 30%;
  }
}
