@import "./variables.css";
@import "./typography.css";
@import "./pages/welcome_screen.css";
@import "./pages/onboarding.css";
@import "./pages/register.css";
@import "./pages/login.css";
@import "./pages/forgotpassword.css";
@import "./pages/password_link.css";
@import "./pages/assessment.css";
@import "./pages/home.css";
@import "./pages/chatbot.css";
@import "./pages/chatbot_voice.css";
@import "./pages/otp.css";
@import "./pages/dashboard.css";
@import "./pages/medication.css";
@import "./pages/medication_details.css";

body {
  background-color: var(--background-500);
  margin: 0;
  padding: 60px 16px 34px 16px;
  min-height: calc(100vh - 94px);
  box-sizing: border-box;
}

body.no-body-padding {
  padding: 0 !important;
  overflow: hidden;
}

body.body-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
