@import "../typography.css";
@import "../variables.css";

.wellness-card {
  width: 100;
  padding: 20px;
  background-color: var(--blue-light-100);
  border-radius: 12px;
  border: 1px solid var(--blue-600);
}

.wellness-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.score {
  display: flex;
  align-items: center;
  gap: 5px;
}

.score-subtitle {
  color: var(--text-400);
}

.star-icon {
  color: var(--secondary-500);
  font-variation-settings: "FILL" 1;
  font-size: 25px;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: var(--blue-900);
  padding: 4px 10px;
  border: 1px solid var(--blue-800);
  border-radius: 8px;
  cursor: pointer;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 110%;
  right: 0;
  background-color: white;
  border: 1px solid var(--blue-800);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 120px;
}

.dropdown-item {
  padding: 8px 12px;
  font-size: 14px;
  color: var(--blue-900);
  cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item.active {
  background-color: var(--blue-light-100);
}


.date_range {
  font-size: 20px;
  color: var(--blue-900);
}

.expand_more {
  font-size: 20px;
  color: var(--blue-900);
}

.bar-chart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px 0;
  height: 120px;
}

.bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12%;
}

.bar {
  width: 18px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.bar-label {
  margin-top: 6px;
  font-size: 13px;
  color: #6b7280;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.change {
  display: flex;
  align-items: center;
  gap: 5px;
}

.down-icon {
  font-size: 20px;
  color: var(--error-500);
}

.up-icon {
  font-size: 20px;
  color: var(--success-600);
}

.percent {
  color: var(--text-500);
}

.percent-label {
  color: var(--text-400);
}

.insights {
  display: flex;
  align-items: center;
  gap: 6px;
}

.emoji-objects {
  font-size: 20px;
  font-variation-settings: "FILL" 1;
  color: var(--secondary-500);
}

.insight-count{
    color: var(--text-500);
}
