.home-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.homepage-content-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 16px;
  /* margin-bottom: 180px; */

  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-width: none;
  -ms-overflow-style: none;
}


.homepage-content-container::-webkit-scrollbar {
  display: none;
}

.home-page-notifications {
  padding: 0 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  flex-shrink: 0;
}

@media screen and (min-width: 1000px) {
  .homepage-content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "dailyCheckIn wellnessCard"
      "medication medication"
      "careLibrary careLibrary";
    gap: 24px;

    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .homepage-content-container::-webkit-scrollbar {
    display: none;
  }

  .homepage-content-container > :nth-child(1) {
    grid-area: dailyCheckIn;
  }

  .homepage-content-container > :nth-child(2) {
    grid-area: medication;
  }

  .homepage-content-container > :nth-child(3) {
    grid-area: wellnessCard;
  }

  .homepage-content-container > :nth-child(4) {
    grid-area: careLibrary;
  }
}
